<form
  class="form-horizontal"
  autocomplete="off"
  #createbrandForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    title="Create New Brand"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>

  <div class="modal-body">
    <tabset>
      <tab heading="Details" class="pt-3 px-2">

        <!-- Brand Name -->
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="brandName">
            Brand Name
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="brandName"
              id="brandName"
              required
              minlength="2"
              maxlength="100"
              [(ngModel)]="brand.brandName"
              #brandNameModel="ngModel"
              #brandNameEl
            />
            <abp-validation-summary
              [control]="brandNameModel"
              [controlEl]="brandNameEl"
            ></abp-validation-summary>
          </div>
        </div>

        <!-- Description -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="Description">
            Description
          </label>
          <div class="col-md-9">
            <textarea
              class="form-control"
              name="description"
              id="description"
              rows="3"
              [(ngModel)]="brand.description"
              #descModel="ngModel"
              #descEl
            ></textarea>
            <abp-validation-summary
              [control]="descModel"
              [controlEl]="descEl"
            ></abp-validation-summary>
          </div>
        </div>

        <!-- Logo URL -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="logoUrl">
            Logo URL
          </label>
          <div class="col-md-9">
            <input
              type="url"
              class="form-control"
              name="logoUrl"
              id="logoUrl"
              [(ngModel)]="brand.logoUrl"
              #logoModel="ngModel"
              #logoEl
            />
            <abp-validation-summary
              [control]="logoModel"
              [controlEl]="logoEl"
            ></abp-validation-summary>
          </div>
        </div>

        <!-- website -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="website">
            website
          </label>
          <div class="col-md-9">
            <input
              type="url"
              class="form-control"
              name="website"
              id="website"
              [(ngModel)]="brand.website"
              #websiteModel="ngModel"
              #websiteEl
            />
            <abp-validation-summary
              [control]="websiteModel"
              [controlEl]="websiteEl"
            ></abp-validation-summary>
          </div>
        </div>

        <!-- Active -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="isActive">
            Active
          </label>
          <div class="col-md-9">
            <input
              type="checkbox"
              name="isActive"
              id="isActive"
              [(ngModel)]="brand.isActive"
              #activeModel="ngModel"
              #activeEl
            />
            <abp-validation-summary
              [control]="activeModel"
              [controlEl]="activeEl"
            ></abp-validation-summary>
          </div>
        </div>

      </tab>
    </tabset>
  </div>

  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createbrandForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
